* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background: rgb(182, 176, 182);
}

#navbarr {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    color: white;
    background: rgb(53, 50, 50);
}

#navbarr a {
    justify-content: space-around;
    margin-left: 20px;
    color: white;
    font-size: 18px;
    padding: 27px;
    text-decoration: none;
}

#navbarr a:hover {
    background: #a69e9e;
}

#menu {
    color: white;
    margin-right: 3%;
    margin-left: 20px;
}

#menu:hover {}

#nome {
    font-size: 26px;
    position: relative;
    left: 800px;
}




/* Smartphones (600px para baixo) */
@media only screen and (max-width: 600px) {
    #navbarr {
        display: flex;
        align-items: center;
        flex-flow: row wrap;
        color: white;
        background: rgb(53, 50, 50);
    }

    #nome {
        font-size: 40px;
        margin: 15px;
        padding: 10px;
        position: relative;
        left: 30%;
    }

    #navbarr a {
        float: left;
        margin-left: 20px;
        color: white;
        font-size: 18px;
        padding: 27px;
        text-decoration: none;
        display: none;
    }
}

/* Dispositivos um pouco maiores, mas ainda pequenos (Pequenos Tablets e Smartphones + largos, 600px para cima) */
@media only screen and (min-width: 600px) {}

/*Dispostivos Médios (Tablets deitados, 768px para cima) */
@media only screen and (min-width: 768px) {}

/* Dispostivos Largos (laptops/desktops, 992px para cima) */
@media only screen and (min-width: 992px) {}

/* Super Largos (Telas maiores laptops, desktops e até TVs, 1200px para cima) */
@media only screen and (min-width: 1200px) {}