* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background: rgb(182, 176, 182);
}



.pagina {
    display: flex;
    align-items: stretch;
    height: 100vh;
}


/*navbarr com os elementos principais*/
#navbarr {
    display: flex;
    align-items: center;
    align-items: center;
    flex-flow: row wrap;
    color: #fbf7f7;
    background: #353232;
    border-bottom: #0a0a0a solid 3px;
}

#navbarr a {
    justify-content: space-around;
    margin-left: 40px;
    color: #fbf7f7;
    font-size: 23px;
    padding: 12px 20px 12px 20px;
    text-decoration: none;
}

#navbarr a:hover {
    background: #848484;
}

#imagem1 {
    width: 100px;
    margin-left: 350px;

}

#nome {
    font-size: 35px;
    padding-bottom: 11px;
    margin-bottom: 14px;
    position: relative;
    left: 350px;
}


/* botão de menu*/
#menu {
    color: #fbf7f7;
    font-size: 45px;
    padding: 24px;
    margin-right: 3%;
    margin-left: 3%;
}

#menu:hover {
    transition: all 1.5s;
    color: #353232;
}



/*conteudo de menu lateral*/

#menus {
    position: fixed;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    text-align: center;
    background: #353232;
    transition: all 0.2s;
    width: 230px;
    margin-left: -230px;
    height: 100vh;
    border-right: 4px solid #242222;
    z-index: 3;
}

/*conecçao do butao menu com o menu lateral*/
#menus.aparecer {
    margin-left: 0;
}

/*itens menu lateral*/
#menus a {
    text-decoration: none;
    padding: 15px 70px 15px 70px;
    border-bottom: #242222 solid 4px;
    margin-top: 1px;
    font-size: 23px;
    color: #fbf7f7;
}

#menus a:hover {
    color: #242222;
    background: #848484;
}


/*roda pe do menu lateral*/
#pezinho {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    border-top: #242222 4px solid;
    width: 100%;
    margin-top: 350px;
}

#pezinho a {
    margin-top: 0;
    padding: 20px 86px 20px 86px;
}

#pezinho a:hover {
    color: #242222;
    background: #848484;
}




/*titulo do menu lateral*/
#menu-titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid 4px #242222;
    width: 100%;
}

#menu-titulo h2 {
    font-size: 25px;
    color: #fbf7f7;
    padding-top: 0;
}



/*segunda parte que fala sobre mim*/
.informacoes {
    padding-top: 40px;
    display: flex;
    margin-left: 4%;
    margin-right: 4%;
}

.falando-de-mim {
    flex: 35%;
    background: #242222;
    color: #fbf7f7;
    box-shadow: 0, 25px, 35px, rgba(0, 0, 0, 0.5);

}

.imagem-minha {}

/* Smartphones (600px para baixo) */
@media only screen and (max-width: 600px) {
    #navbarr {
        display: flex;
        align-items: center;
        flex-flow: row wrap;
        color: #fbf7f7;
        background: rgb(53, 50, 50);
    }

    #nome {
        font-size: 40px;
        margin: 15px;
        padding: 10px;
        position: relative;
        left: 30%;
    }

    #navbarr a {
        float: left;
        margin-left: 20px;
        color: white;
        font-size: 18px;
        padding: 27px;
        text-decoration: none;
        display: none;
    }



}

/* Dispositivos um pouco maiores, mas ainda pequenos (Pequenos Tablets e Smartphones + largos, 600px para cima) */
@media only screen and (min-width: 600px) {}

/*Dispostivos Médios (Tablets deitados, 768px para cima) */
@media only screen and (min-width: 768px) {}

/* Dispostivos Largos (laptops/desktops, 992px para cima) */
@media only screen and (min-width: 992px) {}

/* Super Largos (Telas maiores laptops, desktops e até TVs, 1200px para cima) */
@media only screen and (min-width: 1200px) {}



/* scrollbar */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(255, 255, 255, 0.3);
}