* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background: rgb(182, 176, 182);
}



.pagina {
    display: flex;
    align-items: stretch;
    height: 100vh;
}

#navbarr {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    color: white;
    background: #353232;
}

#navbarr a {
    justify-content: space-around;
    margin-left: 20px;
    color: white;
    font-size: 20px;
    padding: 14px 15px 14px 15px;
    text-decoration: none;
}

#navbarr a:hover {
    background: #848484;
}

#nome {
    font-size: 26px;
    position: relative;
    left: 800px;
}


/* botão de menu*/
#menu {
    color: white;
    font-size: 25px;
    padding: 16px;
    margin-right: 3%;
    margin-left: 20px;
}

#menu:hover {
    transition: all 1.5s;
    color: #353232;
}

/*conteudo de menu*/

.menus {
    background: #353232;
    transition: all 1.5s;
    width: 12vw;
    height: 100vh;
    border-right: 4px solid #242222;

    z-index: 5;
}

.aparecer {
    margin-left: 0;
}

.menus h2 {
    color: white;
    padding-top: 10px;
    margin-top: 0;
}

.menus a {
    color: white;
}

#pezinho {}


/* Smartphones (600px para baixo) */
@media only screen and (max-width: 600px) {
    #navbarr {
        display: flex;
        align-items: center;
        flex-flow: row wrap;
        color: white;
        background: rgb(53, 50, 50);
    }

    #nome {
        font-size: 40px;
        margin: 15px;
        padding: 10px;
        position: relative;
        left: 30%;
    }

    #navbarr a {
        float: left;
        margin-left: 20px;
        color: white;
        font-size: 18px;
        padding: 27px;
        text-decoration: none;
        display: none;
    }
}

/* Dispositivos um pouco maiores, mas ainda pequenos (Pequenos Tablets e Smartphones + largos, 600px para cima) */
@media only screen and (min-width: 600px) {}

/*Dispostivos Médios (Tablets deitados, 768px para cima) */
@media only screen and (min-width: 768px) {}

/* Dispostivos Largos (laptops/desktops, 992px para cima) */
@media only screen and (min-width: 992px) {}

/* Super Largos (Telas maiores laptops, desktops e até TVs, 1200px para cima) */
@media only screen and (min-width: 1200px) {}



/* scrollbar */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(255, 255, 255, 0.3);
}