* {
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Nosifer&family=Poppins&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rye&family=Titan+One&display=swap');

html,
body {
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    background: rgb(182, 176, 182);
    font-family: "Roboto", sans-serif;
}



.pagina {
    display: flex;
    align-items: stretch;
    height: 100%;
}


/*navbarr com os elementos principais*/
#navbarr {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    color: #fbf7f7;
    background: #353232;
    border-bottom: #0a0a0a solid 3px;
    height: 13vh;
    width: 100%;
}

#navbarr a {
    justify-content: space-around;
    margin-left: 40px;
    color: #fbf7f7;
    font-size: 23px;
    padding: 12px 25px 12px 25px;
    text-decoration: none;
    border-radius: 5px;
}

#navbarr a:hover {
    background: #848484;
}


#imagem1 {
    width: 100px;
    margin-left: 350px;

}

/*nome*/
.name-area {
    display: flex;
    align-items: baseline;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.nome {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 60px;
    position: relative;
    left: 710px;
    transition: ease 1.4s;
}

#navbarr:hover .nome {
    left: 210px;
}


/* botão de menu*/
#area-menu-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

#area-menu-btn a {
    padding: 26px;
}

#BotaoMenu i {
    color: #fbf7f7;
    font-size: 37px;
    margin-right: 3%;
    margin-left: 3%;
}

#BotaoMenu:hover {
    transition: all 1.5s;
    color: #353232;
}



/*conteudo de menu lateral*/

#menus {
    position: fixed;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    text-align: center;
    background: #353232;
    transition: all 0.2s;
    width: 250px;
    margin-left: -250px;
    height: 100vh;
    border-right: 4px solid #242222;
    z-index: 1000;
}

/*conecçao do butao menu com o menu lateral*/
#menus.aparecer {
    margin-left: 0;
}

/*itens menu lateral*/
#menus a {
    text-decoration: none;
    padding: 15px 70px 15px 70px;
    border-bottom: #242222 solid 4px;
    margin-top: 1px;
    font-size: 23px;
    color: #fbf7f7;
}

#menus a:hover {
    color: #242222;
    background: #848484;
}


/*roda pe do menu lateral*/
#pezinho {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    border-top: #242222 4px solid;
    width: 100%;
    margin-top: 350px;
}

#pezinho a {
    margin-top: 0;
    padding: 20px 86px 20px 86px;
}

#pezinho a:hover {
    color: #242222;
    background: #848484;
}




/*titulo do menu lateral*/
#menu-titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid 4px #242222;
    width: 100%;
}

#menu-titulo h2 {
    font-size: 25px;
    color: #fbf7f7;
    padding-top: 0;
}



/*segunda parte que fala sobre mim*/
.informacoes {
    display: flex;
    flex-flow: row wrap;
    margin-top: 30px;
    margin-left: 3%;
    margin-right: 3%;
    background: #242222;
    color: #fbf7f7;
    box-shadow: 0, 25px, 35px, rgba(0, 0, 0, 0.5);
    padding: 15px 5px 15px 5px;
    border-radius: 10px;
}

.falando-de-mim {
    margin-left: 1.5%;
    margin-right: 1.5%;
    flex: 55%;
}

.falando-de-mim h1 {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 0;
    margin-bottom: 0;
    letter-spacing: 5px;
    font-size: 60px;
}

.falando-de-mim p {
    margin-top: 0;
    padding-top: 5px;
    font-size: 23px;
}



/*botao de contato*/
#contato {
    margin-top: 50px;
    margin-left: 3%;
}

#contato a {
    box-shadow: 0 12px 20px (rgba(0, 0, 0, 0.5));
    text-decoration: none;
    color: #242222;
    background: #fbf7f7;
    padding: 20px;
    border-radius: 65px;
    font-size: 45px;
}

#contato a:hover {
    transform: translateY(-20px);
    transition: ease 0.2s;
    cursor: pointer;
    background: #0a0a0a;
    color: #fbf7f7;
    border: 2px solid #fbf7f7;

}

.minha-foto {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2%;
}

/*area com formas de me achar*/
.descobrir {
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 190px;
    margin-top: 5%;
}

.descobrir p {
    margin-right: 2%;
    border-right: solid 2px #464646;
}

.descobrir a {
    color: #fbf7f7;
    text-decoration: none;
}

.descobrir a:hover {
    background: rgba(255, 255, 255, 0.1);
    text-decoration: underline;
}



/*base dos projetos*/
.projetos {
    padding-top: 34px;
}

.projetos h1 {
    text-align: center;
    font-size: 80px;
    margin-bottom: 5px;
    letter-spacing: 2px;
}

.cards {
    padding-top: 45px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.cards div:hover {
    transform: translateY(-3px);
    background: #0a0a0a;
    transition: ease 0.3s;
    cursor: pointer;
}

.cards h2 {
    font-size: 36px;
}

.cards p {
    font-size: 19px;
    text-align: center;
}

.cards img {
    text-align: center;
    width: 170px;
    padding: 0;
    margin: 0;
}

/*area de fala dos projeos*/
.areaP {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    margin-right: 2%;
    margin-left: 2%;
    margin-bottom: 3%;
    background: #393939;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 15px rgba(0, 0, 0, 0.1);
}

/*area de organiza os botoes dos projetos*/
.bta {
    margin-top: 2%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}


.bta a {
    background: #fbf7f7;
    padding: 10px;
    margin-left: 25px;
    margin-right: 25px;
    border-radius: 20px;
    font-size: 27px;
    text-decoration: none;
    color: #0a0a0a;
}

.bta a:hover {
    background: #0a0a0a;
    color: #fbf7f7;
    border: solid 1px #fbf7f7;
}

/*itens do card*/
.calculadora {
    color: #fbf7f7;
    background: #242222;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-around;
    height: 485px;
    width: 430px;
    padding: 10px;
    border-radius: 25px;
}


.App_tarefas {
    color: #fbf7f7;
    background: #242222;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-around;
    height: 485px;
    width: 430px;
    padding: 10px;
    border-radius: 25px;
}

.pagina_login {
    color: #fbf7f7;
    background: #242222;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-around;
    height: 485px;
    width: 430px;
    padding: 10px;
    border-radius: 25px;
}

/*card de habilidades*/
.habilidades {
    padding-top: 65px;
    margin-left: 3%;
    margin-right: 3%;
}

.habilidades h1 {
    margin-bottom: 0;
    padding-bottom: 0;
    font-size: 70px;
}

.habilidades p {
    margin-top: 3px;
    padding-top: 0;
    font-size: 25px;
}

.cardsH {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    padding-top: 2.5%;
}

/* Smartphones (600px para baixo) */
@media only screen and (max-width: 600px) {
    #navbarr {
        display: flex;
        align-items: center;
        flex-flow: row wrap;
        color: #fbf7f7;
        background: rgb(53, 50, 50);
    }

    #nome {
        font-size: 40px;
        margin: 15px;
        padding: 10px;
        position: relative;
        left: 30%;
    }

    #navbarr a {
        float: left;
        margin-left: 20px;
        color: white;
        font-size: 18px;
        padding: 27px;
        text-decoration: none;
        display: none;
    }



}

/* Dispositivos um pouco maiores, mas ainda pequenos (Pequenos Tablets e Smartphones + largos, 600px para cima) */
@media only screen and (min-width: 600px) {}

/*Dispostivos Médios (Tablets deitados, 768px para cima) */
@media only screen and (min-width: 768px) {}

/* Dispostivos Largos (laptops/desktops, 992px para cima) */
@media only screen and (min-width: 992px) {}

/* Super Largos (Telas maiores laptops, desktops e até TVs, 1200px para cima) */
@media only screen and (min-width: 1200px) {}



/* scrollbar */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(255, 255, 255, 0.3);
}