.nav {
    display: flex;
    justify-content: space-between;
}

.nav h1 {
    font-size: 30px;
    color: #570099;
}

.list {}

.list li {}

.list a {
    color: #570099;
    text-decoration: none;
}