.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f9f4ff;
}

.nav h1 {
    font-size: 45px;
    color: #570099;
    margin-left: 2em;
}

.list {
    margin-right: 2em;
}

.list li {
    color: #570099;
    font-size: 35px;
    list-style: none;
}

.list a {
    color: #570099;
    text-decoration: none;
}