* {
    box-sizing: border-box;
}

body,
html {
    background: #C5E284;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

#titulo {
    margin-top: 0;
}

#titulo h1 {
    color: #200F07;
    font-size: 100px;
}

#criar {
    margin-top: 0;
}

#criar a {
    border: solid 1px #200F07;
    padding: 10px 60px 10px 60px;
    border-radius: 20px;
    background: #200F07;
    text-decoration: none;
    color: #C5E284;
    font-size: 60px;
    transition: ease 1s;
}

#criar a:hover {
    border: solid 1px #702806;
    color: #C5E284;
    background: #702806;
    transform: translateY(-10px);
}

#tempo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    width: 150px;
    background: #200F07;
    height: 100px;
    text-align: center;
    position: fixed;
    top: 10px;
    transition: ease 1.2s;
    cursor: pointer;
}

#tempo:hover {
    background: #702806;
}

#horas {
    font-size: 30px;
    color: #C5E284;
    margin-bottom: 0;
}

#dias {
    font-size: 30px;
    color: #C5E284;
    margin-top: 0;
}

#open {
    top: 50px;
    right: 50px;
    position: fixed;
    background: #200F07;
    color: #C5E284;
    border-radius: 100%;
    cursor: pointer;
}

#open:hover {
    background: #702806;
}

#open i {
    padding: 10px;
    font-size: 40px;
}