* {
    box-sizing: border-box;
}

body,
html {
    background: linear-gradient(180deg,
            #F3E7D3 100%);
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}


.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #4a2c20;
    position: absolute;
    top: 15px;
    width: 95vw;
    padding: 0px 10px 0px 10px;
    border-radius: 35px;
}



.header_nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_nav div {
    align-items: first baseline;
    display: flex;
    flex-direction: column;
}

.header_nav h2 {
    font-size: 20px;
    color: #C5E284;
    margin-top: -30px;
}

.header_nav h1 {
    color: #f8f4ec;
    font-size: 55px;
    margin-left: 1em;
    margin-top: 20px;
    margin-bottom: 20px;
}

.btns_nav {
    margin-right: 15em;
    display: flex;
    flex-direction: row;
    transition: ease 1s;
}

.btns_nav a {
    margin-right: 1em;
    color: #f8f4ec;
    font-size: 35px;
    cursor: pointer;
    transition: ease 0.6s;
}

.btns_nav a:hover {
    transform: translateY(-5px);
    color: #C5E284;
    border-bottom: 2px solid #C5E284;
}

.footer {
    background: #200F07;
    position: absolute;
    bottom: 15px;
    width: 95vw;
    padding: 25px 10px 25px 10px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
}

.barra_footer {
    border: solid 2px #C5E284;
}

/*ENDEREÇO*/
.endereco {
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.endereco i {
    font-size: 40px;
    color: #C5E284;
    margin-right: 10px;
}

.endereco h2 {
    color: #f8f4ec;
    margin-top: 0;
    margin-bottom: 0;
}

/*CELULAR*/
.celular {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.celular i {
    font-size: 40px;
    color: #C5E284;
    margin-right: 10px;
}

.celular h2 {
    color: #f8f4ec;
    margin-top: 0;
    margin-bottom: 0;
}

/*INSTAGRAM*/
.instagram {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.instagram i {
    font-size: 40px;
    color: #C5E284;
    margin-right: 10px;
}

.instagram h2 {
    color: #f8f4ec;
    margin-top: 0;
    margin-bottom: 0;
}

/*DIREITOS*/
.direitos {
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.direitos i {
    font-size: 40px;
    color: #C5E284;
    margin-right: 10px;
}

.direitos h2 {
    color: #f8f4ec;
    margin-top: 0;
    margin-bottom: 0;
}


#titulo {
    margin-top: 0;
}

#titulo h1 {
    color: #200F07;
    font-size: 100px;
}

.criar {
    margin-top: 0;
}

.criar a {
    border: solid 1px #200F07;
    border-radius: 20px;
    padding: 7px 60px 7px 60px;
    background: #200F07;
    text-decoration: none;
    color: #C5E284;
    font-size: 40px;
    transition: ease 1s;
    margin-left: 1em;
}

.criar button {
    border: solid 1px #702806;
    padding: 7px 0px 7px 0px;
    border-radius: 20px;
    width: 300px;
    background: #702806;
    text-decoration: none;
    color: #C5E284;
    font-size: 40px;
    transition: ease 1s;
    margin-right: 1em;
}

.criar a:hover {
    color: #C5E284;
    background: #702806;
    transform: translateY(-2px);
}

.criar button:hover {
    color: #C5E284;
    background: #200F07;
    transform: translateY(-2px);
}


.boxCenter {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100px;
    padding: 10px;
}

.boxCenter h1 {
    font-size: 2.8rem;
    font-weight: bold;
    text-align: center;
    line-height: 1.2;
    white-space: normal;
    word-break: break-word;
    overflow-wrap: break-word;

    max-width: 100%;
}


/*HORAs*/
#tempo {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    width: 150px;
    background: #200F07;
    height: 100px;
    text-align: center;
    position: fixed;
    top: 10px;
    transition: ease 1.2s;
    cursor: pointer;
}

#tempo:hover {
    background: #702806;
}

#horas {
    font-size: 30px;
    color: #C5E284;
    margin-bottom: 0;
}

#dias {
    font-size: 30px;
    color: #C5E284;
    margin-top: 0;
}

#open {
    top: 50px;
    right: 50px;
    position: fixed;
    background: #200F07;
    color: #C5E284;
    border-radius: 100%;
    cursor: pointer;
}

#open:hover {
    background: #702806;
}

#open i {
    padding: 10px;
    font-size: 40px;
}

.detalhes {
    position: fixed;
    bottom: 140px;
    left: 3em;
}

.detalhes div {
    display: flex;
    align-items: center;
}

.detalhes i {
    margin-right: 1em;
    font-size: 40px;
    color: #8fd100;
}

.detalhes h2 {
    color: #200F07
}

.divisaDetalhe {
    border: #8fd100 solid 2px;
}

/*IMAGENS*/
#imgCafe {
    width: 200px;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: -80px;
}