* {
    box-sizing: border-box;
}

body,
hrml {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #C5E284;
}

.Container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login_area {
    box-shadow: 0px 0px 10px 0px #200F07;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    width: 40vw;
    border: solid 1px #200F07;
    border-radius: 5px;
}

.login_area h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 67px;
    color: #200F07;
}


.formulario {}

.formulario div {
    margin-top: 1em;
}

.formulario input {
    border-radius: 10px;
    padding: 13px 370px 13px 10px;
    caret-color: #200F07;
    outline: #200F07;
    border: 1px solid #C5E284;
    transition: ease 1s;
}

.formulario input:hover {
    border: solid 1px #200F07;
}

.formulario label {
    color: #200F07;
    font-size: 35px;
}

#recuperar_senha {
    position: relative;
    left: 23em;
}

#recuperar_senha span {
    transition: ease 0.5s;
    font-weight: bold;
    color: #200F07;
    cursor: pointer;
    font-size: 22px;
}

#recuperar_senha span:hover {
    color: #702806;
}

#btn_enviar {
    padding: 0.5em;
    text-align: center;
}

#btn_enviar button {
    transition: ease 0.5s;
    color: #200F07;
    font-size: 25px;
    border-radius: 6px;
    border: solid 1px #C5E284;
    padding: 10px 110px 10px 110px;
}

#btn_enviar button:hover {
    transform: translateY(-2px);
    color: #C5E284;
    border: solid 1px #702806;
    background: #200F07;
}

.divisor {}

.divisor span {}