@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
}

body,
html {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #74b9ff, #a29bfe);
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0;
}

.Clima {
    cursor: pointer;
    border-radius: 30px;
    height: 600px;
    width: 570px;
    border: 0.5px solid rgb(255, 255, 255, 0.3);
    background: rgb(255, 255, 255, 0.15);
    color: #ffffff;
    backdrop-filter: blur(5px);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Clima h1 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-size: 50px;
}

.Clima h2 {
    margin-top: 0;
    font-size: 55px;
    margin-bottom: 0;
}

.Clima p {
    font-size: 35px;
    margin-top: 0;
}

#cidade {
    outline: black;
    caret-color: #a29bfe;
    transition: ease 0.5s;
    padding: 17px 190px 17px 5px;
    border-radius: 12px 0px 0px 12px;
    font-size: 20px;
    border: none;
    color: white;
    background: rgb(255, 255, 255, 0.2);
}

#cidade::placeholder {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.97);
}

#cidade:hover {
    transform: translateY(-2px);
    box-shadow: 0px 2px 2px 0px #2a2a2a83;
}

#butao {
    transition: ease 0.5s;
    font-size: 20px;
    border: none;
    margin-left: 0;
    color: white;
    background: #36dffd;
    padding: 18px 20px 18px 20px;
    border-radius: 0px 12px 12px 0px;
}

#butao i {
    text-align: center;
    font-size: 20px;
}


#butao:hover {
    color: black;
    transform: translateY(-2px);
    box-shadow: 0px 2px 2px 0px #2a2a2a83;
}

#butao:hover i {
    color: black;
}

.Horas {
    left: 1200px;
    top: 10px;
    position: absolute;
}

.Horas h2 {
    font-size: 28px;
    font-weight: bold;
    color: white;
}

.Data {
    display: flex;
    flex-direction: column;
    align-items: center;
    right: 1200px;
    top: 10px;
    position: absolute;
}

.Data h2 {
    font-size: 28px;
    font-weight: bold;
    color: white;
    margin-bottom: 0;
    padding-bottom: 0;
}

.Data h3 {
    font-size: 26px;
    font-weight: bold;
    color: white;
    margin-top: 0;
    padding-top: 0;
}

.white {
    background: #36dffd;
    transition: ease 1s;
}

#claro {
    display: none;
    bottom: 0;
    right: 0px;
    position: fixed;
    background: #36dffd;
    padding: 10px 20px;
    border-radius: 30px 0px 30px 0px;
    transition: ease 1s;
}

#claro a {
    font-size: 20px;
}

#claro:hover {
    transform: translateX(-5px) translateY(-5px);
    box-shadow: 1px 1px 0px 1px #36dffd;
}


#escuro {
    bottom: 0;
    right: 0px;
    position: fixed;
    background: #032930;
    padding: 10px 20px;
    border-radius: 30px 0px 30px 0px;
    transition: ease 1s;
}

#escuro a {
    font-size: 20px;
}

#escuro:hover {
    transform: translateX(-5px) translateY(-5px);
    box-shadow: 1px 1px 0px 1px #032930;

}

.dark {
    background: #032930;
    transition: ease 1s;
}

@media only screen and (max-width: 600px) {

    .Clima {
        cursor: pointer;
        border-radius: 30px;
        height: 600px;
        width: 450px;
        border: 0.5px solid rgb(255, 255, 255, 0.3);
        background: rgb(255, 255, 255, 0.15);
        color: #ffffff;
        backdrop-filter: blur(5px);

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .Clima h1 {
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        font-size: 60px;
        margin-bottom: 0;
    }

    .Clima h2 {
        margin-top: 0;
        font-size: 47px;
        margin-bottom: 0;
    }

    .Clima p {
        font-size: 37px;
        margin-top: 1em;
    }


    #cidade {
        outline: black;
        caret-color: #a29bfe;
        transition: ease 0.5s;
        padding: 17px 140px 17px 5px;
        border-radius: 12px 0px 0px 12px;
        font-size: 20px;
        border: none;
        color: white;
        background: rgb(255, 255, 255, 0.2);
    }

    #cidade::placeholder {
        font-size: 20px;
        color: rgba(255, 255, 255, 0.97);
    }

    #cidade:hover {
        transform: translateY(-2px);
        box-shadow: 0px 2px 2px 0px black;
    }

    #butao {
        transition: ease 0.5s;
        font-size: 20px;
        border: none;
        margin-left: 0;
        color: white;
        background: #36dffd;
        padding: 18px 20px 18px 20px;
        border-radius: 0px 12px 12px 0px;
    }

    #butao i {
        text-align: center;
        font-size: 20px;
    }


    .Horas {
        left: 40px;
        top: 10px;
        position: absolute;
    }

    .Horas h2 {
        font-size: 28px;
        font-weight: bold;
        color: white;
    }

    .Data {
        right: 40px;
        top: 10px;
        position: absolute;
    }

    .Data h2 {
        font-size: 28px;
        font-weight: bold;
        color: white;
    }

}